.header__lang-link{
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
    color: white;
    margin-left: 18px;
    transition: 0.2s ease-in-out;
}

.header__lang-link:hover{
    opacity: 0.5;
    transition: 0.2s linear;
}

@media screen and (max-width:515px){
    .header__lang-link{
        margin-left: 20px;
    }
}
@media screen and (max-width:350px){
    .header__lang-link{
        font-size: 18px;
        line-height: 20px;
    }
}
