.place__image{
    margin: 0;
    padding: 0;
    width: 460px;
    height: 460px;
    box-sizing: border-box;
    object-fit: cover;
}
@media screen and (max-width: 1024px){
    .place__image{
        width: 440px;
        height: 440px;
    }
}
@media screen and (max-width: 824px){
    .place__image{
        width: 340px;
        height: 340px;
    }
}
@media screen and (max-width: 380px){
    .place__image{
        width: 100%;
        max-width: 380px;
        height: 100%;
        max-height: 380px;
    }
}

