.cover__subtitle{
    padding: 0;
    margin: 32px auto 0;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    width: 360px;
    text-align: center;
    color: white;
    z-index: 1;
}
@media screen and (max-width: 605px){
    .cover__subtitle{
        margin-top: 20px;
        width: 330px;
        font-size: 16px;
        line-height: 20px;
    }
}
@media screen and (max-width: 405px){
    .cover__subtitle{
        margin-top: 20px;
        width: 300px;
        font-size: 15px;
        line-height: 19px;
    }
}