.place__main-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

@media screen and (max-width: 630px){
    .place__main-container{
        flex-direction: column;
        justify-content: space-between;
    }
}
