.place__paragraph{
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    text-align: left;
    color: white;
}
.place__paragraph:nth-of-type(2){
    padding-top: 26px;
}
@media screen and (max-width: 1024px){
    .place__paragraph{
        width: 91%;
    }
    .place__paragraph:nth-of-type(2){
        padding-top: 27px;
    }
}
@media screen and (max-width: 824px){
    .place__paragraph{
        width: 100%;
        font-size: 16px;
        line-height: 26px;
    }
    .place__paragraph:nth-of-type(2){
        padding-top: 25px;
    }
}

@media screen and (max-width: 630px){
    .place__paragraph{
        width: 90%;
    }
}