.intro{
    width: 690px;
    margin-top: 92px;
    margin-left: calc(50vw - 500px);
    text-align: left;
}

@media screen and (max-width:1024px){
    .intro{
        padding-left: 24px;
        margin-left: 0;
    }
}

@media screen and (max-width:730px){
    .intro{
        width: 550px;
    }
}
@media screen and (max-width:612px){
    .intro{
        width: 90%;
    }
}
