.place{
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 984px;
}
.place:first-of-type{
    margin-top: 0;
}
@media screen and (max-width: 768px){
    .place{
        width: 94.01%;
        margin-top: 74px; /* в некорых секциях 73, в некоторых 75. я нашел середину, надеюсь подойдет */
    }
}
@media screen and (max-width: 345px){
    .place{
        margin-top: 50px;
        width: 100%;
    }
}


