.place{
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 984px;
}
.place:first-of-type{
    margin-top: 0;
}

@media screen and (max-width: 345px){
    .place{
        width: 100%;
    }
}


