.footer{
    width: 1184px;
    margin: 92px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
}
@media screen and (max-width: 1230px){
    .footer{
        width: calc(100vw - 100px);
    }
}
@media screen and (max-width: 720px){
    .footer{
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 355px){
    .footer{
        flex-direction: column;
        margin: 64px 0 auto 0;
        margin-left: 16px;
        align-items: flex-start;
    }
}