.footer{
    width: 1184px;
    margin: 92px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
}
@media screen and (max-width: 1230px){
    .footer{
        width: calc(100vw - 96px); /* убрал 4 пикселя, теперь его ширина пиксель-перфектна */
    }
}
@media screen and (max-width: 768px){
    .footer{
        width: 93.750%;
        margin-top: 88px;
    }
}


@media screen and (max-width: 575px){
    .footer{
        width: 200px;
        flex-direction: column;
        margin: 64px 0 auto 0;
        margin-left: 16px;
        align-items: flex-start;
    }
}