.cover__link-all{
    text-decoration: none;
    z-index: 2;
    min-height: 740px;
}
@media screen and (max-width: 1200px){
    .cover__link-all{
        min-height: 700px;
    }
}
@media screen and (max-width: 1024px){
    .cover__link-all{
        min-height: 640px;
    }
}
@media screen and (max-width: 768px){
    .cover__link-all{
        min-height: 480px;
    }
}
@media screen and (max-width: 425px){
    .cover__link-all{
        min-height: 430px;
    }
}


@media screen and (max-width: 355px){
    .cover__link-all{
        min-height: 200px;
    }
}