.place__website{
    margin: auto 0 0 40px;
    padding: 0;
}
@media screen and (max-width: 1024px){
    .place__website{
        margin-left: 12px;
    }
}
@media screen and (max-width: 824px){
    .place__website{
        margin-left: 68px;
    }
}
@media screen and (max-width: 630px){
    .place__website{
        margin: 0;
    }
}
@media screen and (max-width: 370px){
    .place__website{
        margin-left: 16px;
    }
}